site_name: SRE Playbook
site_description: Internal documentation for the SRE team
site_author: SRE Team
site_url: https://marco-aloisi.github.io/docs-demo/
repo_url: https://github.com/Marco-Aloisi/docs-demo
repo_name: GitHub
theme:
  name: material
  language: en
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.indexes
    - content.tags
    - search.highlight
    - search.share
    - search.suggest
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
    - scheme: slate
      primary: indigo
  font:
    text: Roboto
    code: Roboto Mono

  

plugins:
  - search:
      lang:
        - en
  - tags

markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - md_in_html
  - pymdownx.superfences
  - attr_list
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
